body {
    font-family: Georgia, "Times New Roman", Times, serif;  
}
h1 {
    font-style: italic;
    border: 1px dashed white;
    background-color: #a7cece;
    padding: 60px 0px 30px 105px;
    border-radius: 8px;
    background-image: url(../images/Umbrella.jpg);
    background-size: contain;
    background-position: left bottom, right top;
    background-repeat: no-repeat, repeat;
}
h2 {
    color: #0f4b4b;
    margin: 50px;
    text-align: center;
}
nav {
    padding: 5px;
    overflow: hidden;
    background-color:#57a5a5 ;
    border-radius: 8px;
}
li {
    list-style-type: none;
    font-size: 20px;
    padding-right: 25px;
}
.blink {
    background-color: rgb(243, 20, 20);
    padding: 5px;	
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    letter-spacing: 4px;
}
span {
    font-size: 25px;
    color: white;
    animation: blink 1s linear infinite;
}
@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}
img {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    width: 350px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    text-align: center;
    background-color: #a7cece;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    padding: 10px;
    margin-bottom: 70px;
}
h4 {
    text-align: center;
    color: #0f4b4b;
    padding:8px;
    font-weight: bold;
    margin-bottom: 10px;
}
.subscribe {
    text-align: center;
    border: 1px solid #0f4b4b;
    margin-bottom: 20px;
    border-radius: 8px;
}
button {
    margin: 10px;
    background-color: #0f4b4b;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 5px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
    margin: 30px;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
@media (min-width:768px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    li {
        display: inline;
    }
}

